<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.QSApp.Quicksilver.«PROJECTNAMEASIDENTIFIER»</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>«PROJECTNAMEASIDENTIFIER»</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1A</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>NSPrincipalClass</key>
	<string>«PROJECTNAMEASIDENTIFIER»</string>
	<key>QSActionsTEMPLATE</key>
	<dict>
		<key>«PROJECTNAMEASIDENTIFIER»Action</key>
		<dict>
			<key>actionClass</key>
			<string>«PROJECTNAMEASIDENTIFIER»Action</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>«PROJECTNAMEASIDENTIFIER»Type</string>
			</array>
			<key>name</key>
			<string>Action: «PROJECTNAMEASIDENTIFIER»</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string></string>
		<key>categories</key>
		<array/>
		<key>description</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditionsTEMPLATE</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPreset«PROJECTNAMEASIDENTIFIER»</string>
			<key>name</key>
			<string>«PROJECTNAME»</string>
			<key>source</key>
			<string>«PROJECTNAMEASIDENTIFIER»Source</string>
		</dict>
	</array>
	<key>QSRegistrationTEMPLATE</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>«PROJECTNAMEASIDENTIFIER»Action</key>
			<string>«PROJECTNAMEASIDENTIFIER»Action</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.whatever</key>
			<string>«PROJECTNAMEASIDENTIFIER»Source</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>«PROJECTNAMEASIDENTIFIER»Type</key>
			<string>«PROJECTNAMEASIDENTIFIER»Source</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>«PROJECTNAMEASIDENTIFIER»Source</key>
			<string>«PROJECTNAMEASIDENTIFIER»Source</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>«PROJECTNAMEASIDENTIFIER»_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>«PROJECTNAMEASIDENTIFIER»</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTEMPLATE</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
